// Colors
$bg-navbar: rgb(248, 249, 250);
$bg-header: rgb(33, 37, 41);
$navbar-brand-color: rgba(0, 0, 0, 0.9);
$nav-link-color: rgba(0, 0, 0, 0.55);
$nav-link-hover: rgba(0, 0, 0, 0.7);
$head-desc-color: rgba(255, 255, 255, 0.5);
$card-border-color: #dee2e6;
$card-badge-color: rgb(33, 37, 41);
$del: #6c757d;
$black: black;
$white: white;

// Spacing
$navbar-brand-padding-y: 0.3125rem;
$nav-list-link-padding-x: 0.5rem;
$header-padding-y: 3rem;
$btn-padding-x: 0.75rem;
$btn-padding-y: 0.375rem;
$section-padding-y: 3rem;
$section-container-padding-x: 3rem;

// Font-sizes
$navbar-brand-font-size: 1.25rem;
$nav-link-font-size: 0.9rem;
$btn-font-size: 1rem;
$head-title: 3.5rem;
$head-desc: 1.25rem;